pandas
numpy
scikit-learn
requests
openmeteo-requests
retry-requests
joblib
requests-cache
hopsworks[python]     # Enables Apache Arrow features
confluent-kafka
pyarrow               # <- ADD THIS LINE
